---
publish_as_bot: true
discussion_number: 83
date: 2026-10-23
published: false
teacher: TechLab
---

### 🚀 Проверка медиа-конвейера
Тестируем автоматическую отправку фото из Obsidian.

![[IMG_test.jpg]]

