---
publish_as_bot: true
discussion_number: 83
date: 2026-10-23
published: false
teacher: TechLab
---
### 🚀 Проверка медиа-конвейера
Тестируем автоматическую отправку фото из Obsidian.

![[VID_test1.mp4]]

![[VID_test2.mp4]]
