---
publish_as_bot: true
discussion_number: 83
date: 2026-10-23
teacher: TechLab
published: true
---

github_cdn_url = f"https://eaststandart.github.io/assets/media_gate/disc_{discussion_number}/{file_name}"


### 🚀 Проверка медиа-конвейера
Тестируем автоматическую отправку фото из Obsidian.

![[Shapr-Image-2024-01-11-100037.png]]
