---
publish_as_bot: true
discussion_number: 83
date: 2026-10-23
teacher: TechLab
published: true
---

### 🚀 Проверка медиа-конвейера
Тестируем автоматическую отправку фото из Obsidian.

![[Shapr-Image-2024-01-11-100037.png]]
