---
publish_as_bot: true
discussion_number: 83
date: 2026-10-23
published: true
teacher: TechLab
---
### 🚀 Проверка медиа-конвейера
Тестируем автоматическую отправку фото из Obsidian.

![[VID_20261017_110924.mp4]]
